spring:
    application:
        name: Rezflix

    profiles:
        active: local

    datasource:
        url: jdbc:postgresql://localhost:5432/rezflix_db
        username: postgres
        password: root
        hikari:
            maximumPoolSize: 40
            minimum-idle: 2
            idle-timeout: 600000
            max-lifetime: 1200000
            validation-timeout: 5000

    jpa:
        hibernate:
            ddl-auto: validate
        open-in-view: false
        properties:
            org:
                hibernate:
                    flushMode: COMMIT
            hibernate:
                show_sql: false
                format_sql: true
                jdbc:
                    batch_size: 25
                order_inserts: true
                order_updates: true

    liquibase:
        change-log: db/changelog/db.changelog-master.xml

    data:
        redis:
            host: localhost
            port: 6379
            timeout: 2s
            lettuce:
                pool:
                    max-active: 16
                    max-idle: 8
                    min-idle: 4

security:
    token:
        secret: "!s)Mk#8}#5t9DTv<;hg^"
        access-expiration: 10M
        refresh-expiration: 3D
    super-admin:
        login: admin
        password-hash: $2a$10$PhFxeCUPjTgR2n23s9/Z0udFk.CUtF2cOd.AnXq/ld0hSfsxz8FqG
    cors:
        frontend-origin: http://localhost:3000

springdoc:
    swagger-ui:
        path: /api

api-keys:
    omdb: <KEY>

criteria:
    query:
        max-page-size: 100