spring:
    application:
        name: Rezflix

    profiles:
        active: local

    datasource:
        url: jdbc:postgresql://localhost:5432/rezflix_db
        username: postgres
        password: root
        hikari:
            maximumPoolSize: 40
            minimum-idle: 2
            idle-timeout: 600000
            max-lifetime: 1200000
            validation-timeout: 5000

    jpa:
        hibernate:
            ddl-auto: validate
        open-in-view: false
        properties:
            org:
                hibernate:
                    flushMode: COMMIT
            hibernate:
                show_sql: false
                format_sql: true
                jdbc:
                    batch_size: 25
                order_inserts: true
                order_updates: true

    data:
        redis:
            host: localhost
            port: 6379
            password: root
            database: 0
            timeout: 2s
            lettuce:
                pool:
                    max-active: 16
                    max-idle: 8
                    min-idle: 4

    cache:
        type: simple
        
    liquibase:
        change-log: db/changelog/db.changelog-master.xml

    servlet:
        multipart:
            max-file-size: 5MB

    batch:
        job:
            enabled: false
        jdbc:
            initialize-schema: always

    ai:
        model:
            chat: google-genai

        google:
            genai:
                api-key: <KEY>
                chat:
                    options:
                        model: gemini-2.5-flash-lite
                        temperature: 0.7

security:
    token:
        secret: "!s)Mk#8}#5t9DTv<;hg^"
        access-expiration: 10M
        refresh-expiration: 3D
    super-admin:
        login: admin
        password-hash: $2a$10$PhFxeCUPjTgR2n23s9/Z0udFk.CUtF2cOd.AnXq/ld0hSfsxz8FqG
    cors:
        frontend-origins: http://localhost, http://127.0.0.1

storage:
    root-path: ./storage
    unrendered-episodes:
        path: ${storage.root-path}/unrendered-episodes
        max-size: 5GB
    rendered-episodes:
        path: ${storage.root-path}/rendered-episodes
    files:
        path: ${storage.root-path}/files

rendering:
    timeout: 3H
    repair-interval: 30M
    max-attempts: 3

watch-room:
    ttl: 30M

springdoc:
    swagger-ui:
        path: /api

criteria:
    query:
        max-page-size: 100